header {
  height: 100px;
  background-color: #A1B3D1;
  padding-top: 10px;
}

.navigation {
  height: 100px;
  background-color: #61D3FC;
  padding-top: 10px;
}

.main-contents {
  height: 200px;
}

.sidebar {
  width: 30%;
  background-color: #EF598D;
}

.main-section {
  width: 70%;
  background-color: #FFDA63;
}

footer {
  height: 200px;
  background-color: #A1B3D1;
  padding-top: 10px;
}

